body{
    background-color: rgb(180, 154, 221);
    text-align: center;
}
form{
    background-color: rgb(115, 201, 189);
    width: 500px;
    height: 700px;
    opacity: 0.7;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.979);
    margin-left: 600px;
    margin-top: 200px;
}
#submit{
    background-color: rgb(204, 99, 190);
    border: 2px solid rgb(90, 82, 153);
    color: rgb(0, 0, 0);
}
3:33
<table>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
</table>